<table class="table table-striped">
  <thead >
  <tr>
    <th scope="col" *ngFor="let header of headers">
      {{header}}
    </th>
    <th scope="col" class="action">Action</th>
  </tr>
  </thead>
  <tbody >
  <ng-content></ng-content>
<!--  <tr (click)="goToClientPage(client.id)">-->
<!--    <td>{{client.id}}</td>-->
<!--    <td>{{client.nom}}</td>-->
<!--    <td>{{client.prenom}}</td>-->
<!--    <td>{{client.societe}}</td>-->
<!--    <td>{{client.adresse}}</td>-->
<!--  </tr>-->
</tbody>
</table>
